@font-face {
    font-family: "DroidSans";
    src: url('fonts/DroidSans.ttf');
}
@font-face {
    font-family: "DroidSans";
    src: url('fonts/DroidSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "DroidSans-Mono";
    src: url('fonts/DroidSansMono.ttf');
}

body {
    font-family: DroidSans, sans-serif;
    font-size: 10pt;
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

blockquote,
blockquote p {
    font-size: 1em;
    line-height: 1.428571429;
}

blockquote {
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

#content {
    margin-top: 70px;
}

@media (max-width: 768px) {
    .navbar-fixed-top {
        position: relative;
    }
    #content {
        margin-top: -10px;
        margin-bottom: 50px;
    }
}

/* navigation */
nav {
    height: 50px;
}
.navbar-nav  {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
nav.navbar-fixed-top {
    background-color: #08c;
}
nav.navbar-fixed-top a,
nav.navbar-fixed-top a:focus,
nav.navbar-fixed-top a:visited,
nav.navbar-fixed-top a:hover {
    color: #fff !important;
}

/* sidebar */

#sidebar .options {
    margin: 0;
    padding: 5px 10px;
    line-height: 19px;

    border-bottom: 1px solid #e6e6e6;
}
#sidebar .options:last-child{
    border-bottom: none;
}
#sidebar h4,
#sidebar p {
    font-size: 1em;
    font-weight: bold;
    color: #777;

    margin: 0;
    padding: 0;
}
#sidebar h4 {
    padding-bottom: 5px;
}
#sidebar ul,
#sidebar li {
    margin: 0;
    padding: 0;
    list-style: none;
}
#sidebar a {
    display: block;
    margin-bottom: 5px;
    line-height: 20px;
    text-decoration: none;
}
#sidebar div.glyphicon {
    margin-left: 5px;
}
#sidebar div.glyphicon.pull-right {
    margin-top: 1px;
}
#sidebar div.category,
#sidebar div.feed {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* items */

#items h4 {
    font-size: 1em;
    font-weight: bold;
    color: #777;

    margin: 0;
    line-height: 19px;
    padding: 5px 10px 5px 10px;

    border-bottom: 1px solid #e6e6e6;
}
.item .head {
    line-height: 19px;
    padding: 5px 10px 5px 10px;

    border-bottom: 1px solid #e6e6e6;

    cursor: pointer;
}
.item .meta {
    color: #999;
}
.item .body {
    padding: 10px 10px 5px 10px;

    border-bottom: 1px solid #e6e6e6;
}
.item h2 {
    display: inline;
    margin: 0;
    line-height: 20px;
    font-size: 1em;

    color: #08c;
}
.item h2.visited {
    color: inherit;
}
.item.active h2 {
    font-weight: bold;
}

/* some workarounds */
.item .body .row {
    margin: 0;
}
.item img {
    max-width: 100%;
}
.modal-body {
    padding-bottom: 0;
}
