{% extends 'layout.html' %}
{% load staticfiles %}

{% block js %}
    <script type="text/javascript" src="{% static 'index.js' %}" ></script>
{% endblock %}

{% block content %}
        <div class="row" ng-app="reader">
            <div id="sidebar" class="col-sm-3 hidden-xs" ng-controller="sidebarController">
                <div class="options">
                    <p>Last updated:</p>
                    <p>{{updated}}</p>
                </div>

                <div class="options">
                    <h4>Options</h4>
                    <ul>
                        <li><a class="load-feed" href="?feedId=0">Show all feeds</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                </div>

                <div class="options">
                    <h4>Categories</h4>
                    <ul class="categories">
                        {% verbatim %}
                        <li ng-repeat="category in categories">
                            {{category}}
                        </li>
                        {% endverbatim %}
                    </ul>
                </div>
            </div>

            <div id="main" class="col-sm-9">
                <div id="items">
                </div>
            </div>
        </div>
{% endblock %}