
<!-- begin modals -->

<div class="modal fade" id="category-form-modal" tabindex="-1" role="dialog" aria-labelledby="category-form-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% verbatim %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="category-form-label">Add a new category</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="categoryForm" novalidate>
                    <div class="form-group" ng-class="{'has-error': categoryForm.title.$invalid && categoryFormSubmitted}">
                        <label for="input-category-title" class="col-sm-2 control-label">
                            Title
                        </label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-category-title" name="title" placeholder="Enter a title for the category" ng-model="categoryFormData.title" ng-maxlength="256" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-show="!categoryFormId" ng-click="submitCreateCategoryForm(categoryForm.$valid)">
                    Add new category
                </button>
                <button type="button" class="btn btn-primary" ng-show="categoryFormId" ng-click="submitUpdateCategoryForm(categoryForm.$valid)">
                    Update category
                </button>
            </div>
            {% endverbatim %}
        </div>
    </div>
</div>

<div class="modal fade" id="feed-form-modal" tabindex="-1" role="dialog" aria-labelledby="feed-form-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% verbatim %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="feed-form-label">Add a new feed</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" name="feedForm" novalidate>
                    <div class="form-group" ng-class="{'has-error': feedForm.categoryId.$invalid && feedFormSubmitted}">
                        <label for="input-feed-categoryId" class="col-sm-2 control-label">
                            Category
                        </label>
                        <div class="col-sm-10">
                            <select class="form-control" id="input-feed-categoryId" name="categoryId" ng-model="feedFormData.categoryId" required>
                                <option value="" disabled selected>Select category</option>
                                <option ng-repeat="category in categories | orderBy:'title'" value="{{category.id}}">
                                    {{category.title}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': feedForm.xmlUrl.$invalid && feedFormSubmitted}">
                        <label for="input-feed-xmlUrl" class="col-sm-2 control-label">
                            Feed URL
                        </label>
                        <div class="col-sm-10">
                            <input type="url" class="form-control" id="input-feed-xmlUrl" name="xmlUrl" placeholder="Enter a valid URL for the rss feed" ng-model="feedFormData.xmlUrl" ng-maxlength="256" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-show="!feedFormId" ng-click="submitCreateFeedForm(feedForm.$valid)">
                    Add new feed
                </button>
                <button type="button" class="btn btn-primary" ng-show="feedFormId" ng-click="submitUpdateFeedForm(feedForm.$valid)">
                    Update feed</span>
                </button>
            </div>
            {% endverbatim %}
        </div>
    </div>
</div>

<div class="modal fade" id="delete-form-modal" tabindex="-1" role="dialog" aria-labelledby="delete-form-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% verbatim %}
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="delete-form-label">Really delete {{deleteFormType}}?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" ng-show="deleteFormType == 'category'" ng-click="submitDeleteCategoryForm()">
                    Delete category
                </button>
                <button type="button" class="btn btn-danger" ng-show="deleteFormType == 'feed'" ng-click="submitDeleteFeedForm()">
                    Delete feed
                </button>
            </div>
            {% endverbatim %}
        </div>
    </div>
</div>

<!-- end modals -->
