
<!-- begin navigation -->

<nav class="navbar navbar-default navbar-fixed-top hidden-xs" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-options">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">reader</a>

        <ul class="nav navbar-nav fixed">
            <li><a href="#" ng-click="firstItem();">First</a></li>
            <li><a href="#" ng-click="prevItem();">Up</a></li>
            <li><a href="#" ng-click="nextItem();">Down</a></li>
        </ul>
    </div>
</nav>

<!-- end navigation -->
