@font-face {
    font-family: "DroidSans";
    src: url('font/DroidSans.ttf');
}
@font-face {
    font-family: "DroidSans";
    src: url('font/DroidSans-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: "DroidSans-Mono";
    src: url('font/DroidSansMono.ttf');
}

body {
    font-family: DroidSans, sans-serif;
    font-size: 10pt;
    background-color: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

blockquote,
blockquote p { 
    font-size: 1em;
    line-height: 1.428571429;
}

blockquote {  
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
}

#content {
    margin-top: 70px;
}

@media (max-width: 768px) {
    .navbar-fixed-top {
        position: relative;
    }
    #content {
        margin-top: 10px;
    }
}

.options {
    margin: 0;
    padding: 5px 10px;
    line-height: 19px;

    border-bottom: 1px solid #e6e6e6;
}
.options:last-child{
    border-bottom: none;
}
.options h4,
.options p {
    font-size: 1em;
    font-weight: bold;
    color: #777;

    margin: 0;
    padding: 0;
}
.options h4 {
    padding-bottom: 5px;
}
.options ul, 
.options li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.options a,
.options span {
    display: block;
    line-height: 20px;
    padding: 2px 0;
}
.options a span {
    padding: 0px;
}

.categories ul {
    display: none;
}

#items {
}
#items h4 {
    font-size: 1em;
    font-weight: bold;
    color: #777;

    margin: 0;
    line-height: 19px;
    padding: 5px 10px 5px 10px;

    border-bottom: 1px solid #e6e6e6;
}

.item .head {
    line-height: 19px;
    padding: 5px 10px 5px 10px;

    border-bottom: 1px solid #e6e6e6;

    cursor: pointer;
}
.item .meta {
    color: #999;
}
.item.new .head {
    color: #08c;
}
.item .body {
    display: none;
    padding: 10px 10px 5px 10px;

    border-bottom: 1px solid #e6e6e6;
}
.item h2 {
    display: inline;
    margin: 0;
    line-height: 20px;
    font-size: 1em;
}
.item.active h2 { 
    font-weight: bold;
}

/* some workarounds */
.item .body .row {
    margin: 0;
}
.item img { 
    max-width: 100%;
}

#header,
#header-xs {
    background-color: #08c;
}
#header.navbar-default .navbar-header a,
#header.navbar-default .navbar-nav a,
#header-xs .navbar-header a { 
    color: #fff !important;
}
#header-xs {
    height: 50px;
    padding-left: 10px;
}

#footer {
    border-top: 1px solid #e6e6e6;
}
#footer .navbar-header {
    padding-left: 15px;
}
#footer .navbar-btn {
    width: 70px;
    margin-right: 15px;
}
#footer .navbar-toggle {
    background-color: #efefef;
}

#organize select {
    height: 20px;
    line-height: 20px;
    font-size: x-small;
}
